In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'C:\\Users\\ari_b\\Documents\\Winternship by Widhya\\Week 3 Assignments'

In [47]:
dataset = pd.read_csv("covid19_analysis.csv")

In [48]:
dataset

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,30-01-2020,Kerala,1,0,0,0
1,2,31-01-2020,Kerala,1,0,0,0
2,3,01-02-2020,Kerala,2,0,0,0
3,4,02-02-2020,Kerala,3,0,0,0
4,5,03-02-2020,Kerala,3,0,0,0
...,...,...,...,...,...,...,...
265,266,21-03-2020,Jammu and Kashmir,4,0,0,0
266,267,21-03-2020,Ladakh,13,0,0,0
267,268,21-03-2020,Uttar Pradesh,23,1,9,0
268,269,21-03-2020,Uttarakhand,3,0,0,0
269,270,21-03-2020,West Bengal,3,0,0,0

In [49]:
dataset.head(10)

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,30-01-2020,Kerala,1,0,0,0
1,2,31-01-2020,Kerala,1,0,0,0
2,3,01-02-2020,Kerala,2,0,0,0
3,4,02-02-2020,Kerala,3,0,0,0
4,5,03-02-2020,Kerala,3,0,0,0
5,6,04-02-2020,Kerala,3,0,0,0
6,7,05-02-2020,Kerala,3,0,0,0
7,8,06-02-2020,Kerala,3,0,0,0
8,9,07-02-2020,Kerala,3,0,0,0
9,10,08-02-2020,Kerala,3,0,0,0

In [50]:
len(dataset)

270

In [51]:
dataset.columns

Index(['Sno', 'Date', 'State/UnionTerritory', 'ConfirmedIndianNational',
       'ConfirmedForeignNational', 'Cured', 'Deaths'],
      dtype='object')

In [52]:
dataset.Date.dtypes

dtype('O')

In [53]:
dataset['Date'] = pd.to_datetime(dataset.Date)

In [54]:
dataset.dtypes

Sno                                  int64
Date                        datetime64[ns]
State/UnionTerritory                object
ConfirmedIndianNational              int64
ConfirmedForeignNational             int64
Cured                                int64
Deaths                               int64
dtype: object

In [55]:
dataset.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,2020-01-30,Kerala,1,0,0,0
1,2,2020-01-31,Kerala,1,0,0,0
2,3,2020-01-02,Kerala,2,0,0,0
3,4,2020-02-02,Kerala,3,0,0,0
4,5,2020-03-02,Kerala,3,0,0,0

In [56]:
indian_data_by_date = dataset.groupby("Date")[['Date','ConfirmedIndianNational', 'State/UnionTerritory','Cured', 'Deaths']]

In [57]:
indian_data_by_date.head()

          Date  ConfirmedIndianNational State/UnionTerritory  Cured  Deaths
0   2020-01-30                        1               Kerala      0       0
1   2020-01-31                        1               Kerala      0       0
2   2020-01-02                        2               Kerala      0       0
3   2020-02-02                        3               Kerala      0       0
4   2020-03-02                        3               Kerala      0       0
..         ...                      ...                  ...    ...     ...
248 2020-03-21                        3       Andhra Pradesh      0       0
249 2020-03-21                        1         Chhattisgarh      0       0
250 2020-03-21                       25                Delhi      5       1
251 2020-03-21                        7              Gujarat      0       0
252 2020-03-21                        3              Haryana      0       0

[129 rows x 5 columns]

In [58]:
len(indian_data_by_date)

52

In [59]:
foreign_data_by_date = dataset.groupby("Date")[['Date','ConfirmedForeignNational', 'State/UnionTerritory','Cured', 'Deaths']]

In [60]:
foreign_data_by_date.head(10)

          Date  ConfirmedForeignNational State/UnionTerritory  Cured  Deaths
0   2020-01-30                         0               Kerala      0       0
1   2020-01-31                         0               Kerala      0       0
2   2020-01-02                         0               Kerala      0       0
3   2020-02-02                         0               Kerala      0       0
4   2020-03-02                         0               Kerala      0       0
..         ...                       ...                  ...    ...     ...
253 2020-03-21                         0     Himachal Pradesh      0       0
254 2020-03-21                         0            Karnataka      1       1
255 2020-03-21                         7               Kerala      3       0
256 2020-03-21                         0       Madhya Pradesh      0       0
257 2020-03-21                         3          Maharashtra      0       1

[203 rows x 5 columns]

In [17]:
len(foreign_data_by_date)

52

In [65]:
indian_data_by_date.dtypes

,Date,ConfirmedIndianNational,State/UnionTerritory,Cured,Deaths
Date,,,,,
2020-01-02,datetime64[ns],int64,object,int64,int64
2020-01-03,datetime64[ns],int64,object,int64,int64
2020-01-30,datetime64[ns],int64,object,int64,int64
2020-01-31,datetime64[ns],int64,object,int64,int64
2020-02-02,datetime64[ns],int64,object,int64,int64
2020-02-03,datetime64[ns],int64,object,int64,int64
2020-02-13,datetime64[ns],int64,object,int64,int64
2020-02-14,datetime64[ns],int64,object,int64,int64
2020-02-15,datetime64[ns],int64,object,int64,int64
2020-02-16,datetime64[ns],int64,object,int64,int64
2020-02-17,datetime64[ns],int64,object,int64,int64
2020-02-18,datetime64[ns],int64,object,int64,int64
2020-02-19,datetime64[ns],int64,object,int64,int64
2020-02-20,datetime64[ns],int64,object,int64,int64
2020-02-21,datetime64[ns],int64,object,int64,int64
2020-02-22,datetime64[ns],int64,object,int64,int64
2020-02-23,datetime64[ns],int64,object,int64,int64
2020-02-24,datetime64[ns],int64,object,int64,int64
2020-02-25,datetime64[ns],int64,object,int64,int64
2020-02-26,datetime64[ns],int64,object,int64,int64
2020-02-27,datetime64[ns],int64,object,int64,int64
2020-02-28,datetime64[ns],int64,object,int64,int64
2020-02-29,datetime64[ns],int64,object,int64,int64
2020-03-02,datetime64[ns],int64,object,int64,int64
2020-03-03,datetime64[ns],int64,object,int64,int64
2020-03-13,datetime64[ns],int64,object,int64,int64
2020-03-14,datetime64[ns],int64,object,int64,int64
2020-03-15,datetime64[ns],int64,object,int64,int64
2020-03-16,datetime64[ns],int64,object,int64,int64
2020-03-17,datetime64[ns],int64,object,int64,int64
2020-03-18,datetime64[ns],int64,object,int64,int64
2020-03-19,datetime64[ns],int64,object,int64,int64
2020-03-20,datetime64[ns],int64,object,int64,int64
2020-03-21,datetime64[ns],int64,object,int64,int64
2020-04-02,datetime64[ns],int64,object,int64,int64
2020-04-03,datetime64[ns],int64,object,int64,int64
2020-05-02,datetime64[ns],int64,object,int64,int64
2020-05-03,datetime64[ns],int64,object,int64,int64
2020-06-02,datetime64[ns],int64,object,int64,int64
2020-06-03,datetime64[ns],int64,object,int64,int64
2020-07-02,datetime64[ns],int64,object,int64,int64
2020-07-03,datetime64[ns],int64,object,int64,int64
2020-08-02,datetime64[ns],int64,object,int64,int64
2020-08-03,datetime64[ns],int64,object,int64,int64
2020-09-02,datetime64[ns],int64,object,int64,int64
2020-09-03,datetime64[ns],int64,object,int64,int64
2020-10-02,datetime64[ns],int64,object,int64,int64
2020-10-03,datetime64[ns],int64,object,int64,int64
2020-11-02,datetime64[ns],int64,object,int64,int64
2020-11-03,datetime64[ns],int64,object,int64,int64
2020-12-02,datetime64[ns],int64,object,int64,int64
2020-12-03,datetime64[ns],int64,object,int64,int64

In [66]:
dataset.dtypes

Sno                                  int64
Date                        datetime64[ns]
State/UnionTerritory                object
ConfirmedIndianNational              int64
ConfirmedForeignNational             int64
Cured                                int64
Deaths                               int64
dtype: object